@import "/src/Presentation//design-system/utils/mixings";

.imagenIntroContainer {
    width: 100%;
    height: 100%;

    @include responsiveUp("M") {
        overflow: hidden;
    }
}

.imgContainer {
    height: 100%;

    @include responsiveUp("M") {
        height: 650px;
    }
}