@import "/src/Presentation/design-system/utils/mixings";

.callToAction {
  position: absolute;
  top: -10%;
  right: -10%;
  width: 200px;
  height: 200px;
  z-index: 10;
  display: grid;
  place-content: center;
  border-radius: 50%;
  border: 6px solid white;
  background: radial-gradient(
    circle at top,
    rgba(103, 63, 105, 1) 0%,
    rgba(103, 63, 105, 0.6) 50%,
    rgba(215, 75, 118, 0.5) 100%
  );
  box-shadow: 2px 2px 16px rgba(103, 63, 105, 0.6);
  scale: 0.6;
  transition: all 300ms ease;
  cursor: pointer;

  &:hover {
    scale: 0.8;
    box-shadow: 2px 2px 16px rgba(215, 75, 118, 0.6);
  }

  @include responsiveUp("S") {
    scale: 0.8;

    &:hover {
      scale: 1;
    }
  }

  @include responsiveUp("XXL") {
    scale: 1;

    &:hover {
      scale: 1.1;
    }
  }

  .callToActionText {
    color: white;
    font-size: 2rem;
    text-align: center;
  }
}
